# Ignore node_modules in backend
backend/node_modules/

# Ignore sensitive backend files
backend/.env
backend/config.json

# Ignore node_modules in frontend (if applicable)
frontend/node_modules/

# Ignore system & editor-specific files
.vscode/
.DS_Store
Thumbs.db

# Ignore build files
**/dist/
**/build/

# Logs
logs/
*.log
npm-debug.log
yarn-error.log


